.product-all{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
}
.product_name{
    color: blue;
    font-weight: 400;
}
.details{
    padding-right: 5px;
    padding-bottom: 5px;
}
.cart{
    width: 200px;
    background-color: goldenrod;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    
}
.rating{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fa-star{
    color: rgb(255, 208, 0);
}